<h1 id="lecture-notes">Lecture Notes</h1>
<h2 id="lecture-1">Lecture 1</h2>
<ul>
<li>3 types of lifetimes for data.
<ul>
<li>Execution time of program, the data remains in the memory the whole execution.</li>
<li>Time between explicit creation of data and explicit deletion of data. Heap allocation. malloc() ex.</li>
<li>During the execution of a function. Stack allocation, LIFO-structure, if one function is called from that function the data gets pushed onto the stack and when we return we pop the data from the stack</li>
</ul></li>
</ul>
<h3 id="during-execution">During execution</h3>
<ul>
<li>Code (machine language)</li>
<li>Data (initialized and uninitialized)</li>
</ul>
<p>Code and Data don't change in size while the program is executing</p>
<ul>
<li>Heap (for dunamically allocated data)</li>
<li>Stack (for function local variables)</li>
</ul>
<p>Heap and Stack change in size as program executes.</p>
<hr />
<p>TODO: Read up on Heap and Stack allocation</p>
<hr />
<h2 id="lecture-2">Lecture 2</h2>
<p>IEEE Floating Point Standard:</p>
<ul>
<li>32 bit value with 3 components (s, e, f)
<ul>
<li>s (1 bit sign)</li>
<li>e (8 bit exponent)</li>
<li>f (23 bit fraction)</li>
</ul></li>
</ul>
<p>Represents the value (-1)^s * 1.f * 2^(e-127)</p>
<h3 id="computer-organization">Computer organization</h3>
<ul>
<li>Main parts of a computer sustem:
<ul>
<li>Processor: Exectues programs</li>
<li>Main memory: Holds program and data</li>
<li>I/O devicxes: For communication with outside</li>
</ul></li>
<li>Machine instruction: Description of primitive operation that machine hardware is able to execute e.g. ADD these two integers</li>
<li>Instruction Set: Complete specification of all the kinds of instruction that the processor hardware was built to execute.</li>
</ul>
<p>The cpu, memory and i/o devices are connected through a Bus.</p>
<h2 id="lecture-3">Lecture 3</h2>
<h3 id="inside-the-cpu">Inside the CPU</h3>
<ul>
<li>Control harware: Hardware to manage instruction execution</li>
<li>ALU: Arithmetic and Logical Unit (hardware to do arithmetic, logical operations)</li>
<li>Registers: small units of memory to hold data/instructions temporarily during execution</li>
</ul>
<h4 id="memory">Memory</h4>
<ul>
<li>What is memory?
<ul>
<li>Something that can remember things</li>
</ul></li>
<li>There are different kinds of memory in a computer system
<ul>
<li>Some remember by the state an electrical circuit is in e.g. SRAM, Static RAM.</li>
<li>Other rememver by the amount of electrical chage stored in a capacitor e.g DRAM, Dynamic RAM - &quot;Memory&quot; in last lecture</li>
<li>Magnetic or optical properties e.g. regular hard drives, dvds.</li>
</ul></li>
<li>They can vary greatly in their speed and capacity</li>
</ul>
<h4 id="registers">Registers</h4>
<ul>
<li>There are 2 kinds of registers.</li>
<li>Special Purpose Registers
<ul>
<li>These are used for specific purposes by the control hardware.</li>
<li>Program Counter (PC): Used to remember the location in memory of the instruction currently being executed</li>
<li>Instruction Register (IR): used to remember that instruction.</li>
<li>Processor Status Register: used to remember status information about current state of processor , e.g., whether an arithmetic overflow has occurred</li>
</ul></li>
<li>General Purpose Registers
<ul>
<li>Available for use by the programmer, the compiler knows about the GPR, so programs will use this.</li>
<li>Useful for remebering frequently used data</li>
<li>A typical processor today has 32 GPRs, say R0, R1,..., R31</li>
<li>The operands to an instruction could come either from registers or from main memory</li>
<li>Two types of GPR, Integer Registers and FP Registers</li>
</ul></li>
</ul>
<hr />
<h5 id="why-use-general-purpose-registers">Why use General Purpose Registers?</h5>
<ul>
<li>There is a large speed disparity between the processor (CPU) and the memory where instructions and data are stored</li>
<li>Consider a 1GHz processor
<ul>
<li>Corresponds to a 1 ns time scale</li>
<li>G (giga) 2^(30) for memory; 10^9 for frequency, disk size</li>
</ul></li>
<li>Memory: ~ 100 ns time scale</li>
</ul>
<p>The memory is much slower than the processor, which is why you want to use the general purpose register.</p>
<hr />
<h4 id="main-memory">Main Memory</h4>
<ul>
<li>Holds instructions and data</li>
<li>View it as a sequence of locations, each referred to by a unique memory address</li>
<li>If the size of each memory location is 1 Byte, we call the memory byte addressable</li>
<li>This is quite typical, as the smalles data (character) is represented in 1 Byte</li>
<li>Larger data items are stored in contiguous memory locations, e.g., a 4 Byte float would occupy 4 consucutive memory locations</li>
</ul>
<h5 id="byte-ordering">Byte ordering</h5>
<ul>
<li>Two (main) types of byte ordering</li>
<li>Big-endian byte ordering
<ul>
<li>Uses the left-most address as the most significant byte, i.e. a 4 byte integer in memory 400-403 is read from left to right that is |&amp;400|&amp;401|&amp;402|&amp;403|.</li>
</ul></li>
<li>Little-endian byte ordering
<ul>
<li>Uses the right-most address as the most significant byte.</li>
</ul></li>
</ul>
<p>Relevant if you have a program running on multiple processors.</p>
