<h1 id="assignment-4">Assignment 4</h1>
<h2 id="enumerating">Enumerating</h2>
<h2 id="dijkstras-algorithm">Dijkstra's Algorithm</h2>
<table>
<thead>
<tr class="header">
<th>Nbr of workers</th>
<th>5,100</th>
<th>100,2000</th>
<th>100,10000</th>
<th>1000,10000</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>2</td>
<td>0.0005s</td>
<td>0.19s</td>
<td>4.16s</td>
<td>9.18s</td>
</tr>
<tr class="even">
<td>5</td>
<td>0.001s</td>
<td>0.13s</td>
<td>2.54s</td>
<td>5.40s</td>
</tr>
<tr class="odd">
<td>10</td>
<td>0.009s</td>
<td>0.19s</td>
<td>2.40s</td>
<td>4.65s</td>
</tr>
</tbody>
</table>
<p>As we can see in the table above with small graphs the fewer the workers the faster, this is because the majority of the total time is communication between the processess. Therefor with few workers the communication takes less time which results in a faster run time. As we run with large graphs the majority of the time is spend in the second part of the while-loop, the distance calculation. For example, when running the largest graph, (1000,10000) only 0.6s of the total time is spent in the part between the while-loop condition and the second for loop for updating the distances. This equals only about 7% percent of the total time, which means that there is a lot of time to gain by adding more workers. With 10 workers 1.7s is spent in the first half of the program, so it has increased. If we take a look at the time-gain from 2-&gt;5-&gt;10 workers we see that there is not such big difference between 5 and 10 workers. This means that the communication-time starts to outweigh the gain from adding more workers and it is reasonable to asume that the algorithm is closing in on it's peak run-rime.</p>
<p>On a side note: The implemented version of the parallellization of Dijsktra's Algorithm is not good at all for the layout of the graph-structure. We can easily modify the second for-loop to achieve much faster resluts with only one worker, consider the following snippet: <code>for (pair&lt;int,int&gt; n : vertices[u]){     if (!visited[n.first]) {         int temp_dist = dist + n.second;         if (temp_dist &lt; local_dist[n.first]) {             local_dist[n.first] = temp_dist;         }     } }</code> Exchanging the second for loop with this would make the program run in under 2s with only one worker. Unfortunately I didn't have time to implement this in a parallell fashion.</p>
