<h1 id="assignment-1-optimization">Assignment 1: Optimization</h1>
<ul>
<li>Joakim Andersson</li>
<li>920930-3594</li>
<li>Chalmers</li>
</ul>
<h2 id="benchmarking">Benchmarking</h2>
<h3 id="ozzy">Ozzy</h3>
<ul>
<li>Architecture: x86_64</li>
<li>OS: Ubuntu 14.04.3 LTS</li>
<li>Processor: Intel(R) Xeon(R) CPU E5-2683 v3 @ 2.00 GHz</li>
<li>Flags: -O2</li>
</ul>
<table>
<thead>
<tr class="header">
<th align="left">Operation</th>
<th align="left">Type</th>
<th>Time (ns)</th>
<th align="left">OPS</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Addition</td>
<td align="left">Float</td>
<td>0.34</td>
<td align="left">2.937e9</td>
</tr>
<tr class="even">
<td align="left">Addition</td>
<td align="left">Double</td>
<td>0.66</td>
<td align="left">1.525e9</td>
</tr>
<tr class="odd">
<td align="left">Addition</td>
<td align="left">Long int</td>
<td>0.65</td>
<td align="left">1.548e9</td>
</tr>
<tr class="even">
<td align="left">Addition-Multiplication</td>
<td align="left">Float</td>
<td>0.63</td>
<td align="left">1.579e9</td>
</tr>
<tr class="odd">
<td align="left">Addition-Multiplication</td>
<td align="left">Double</td>
<td>0.99</td>
<td align="left">1.006e9</td>
</tr>
<tr class="even">
<td align="left">Addition-Multiplication</td>
<td align="left">Long int</td>
<td>0.95</td>
<td align="left">1.056e9</td>
</tr>
<tr class="odd">
<td align="left">Division</td>
<td align="left">Float</td>
<td>1.90</td>
<td align="left">5.272e8</td>
</tr>
<tr class="even">
<td align="left">Division</td>
<td align="left">Double</td>
<td>1.90</td>
<td align="left">5.272e8</td>
</tr>
<tr class="odd">
<td align="left">Division</td>
<td align="left">Long int</td>
<td>9.90</td>
<td align="left">1.010e8</td>
</tr>
<tr class="even">
<td align="left">Sinus</td>
<td align="left">Float</td>
<td>12.82</td>
<td align="left">7.800e7</td>
</tr>
<tr class="odd">
<td align="left">Sinus</td>
<td align="left">Double</td>
<td>41.50</td>
<td align="left">2.410e7</td>
</tr>
<tr class="even">
<td align="left">Exponential</td>
<td align="left">Float</td>
<td>10.48</td>
<td align="left">9.540e7</td>
</tr>
<tr class="odd">
<td align="left">Exponential</td>
<td align="left">Double</td>
<td>11.69</td>
<td align="left">8.555e7</td>
</tr>
</tbody>
</table>
<p>From the table above we see that all operations operates the fastest with floats. This follows what we would expect as float-types are represented with the least amount of memory. On my system, a float is 4 bytes wheras both double and long int is 8 byte.</p>
<p>From the specs of the processor used we know that it has a turbo-boost function which maxes out at 3.00 GHz. This means from the above table that the fastest operation of them all is addition of floats, as this only takes one cycle. Addition with double and long int take 2 cycles, as does add-multiply for floats. Add-multiply takes 3 cycles for double and long int. Division is equally fast with floats and doubles, 6 cycles. As it turns out division is very slow for long ints, 30 cycles, which is intresting. Cycles for sinus and exponential gets a little harder to determine but sinus: float ~38 cycles, double ~120 cycles. Exponential: float ~31 cycles, double ~35 cycles.</p>
<h2 id="locality">Locality</h2>
<p>The times for different optimization flags is shown below:</p>
<table>
<thead>
<tr class="header">
<th>Function</th>
<th>O0</th>
<th>O2</th>
<th>O3</th>
<th>Ofast</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>row_sum</td>
<td>6.79e6</td>
<td>6.82e6</td>
<td>6.74e6</td>
<td>6.83e6</td>
</tr>
<tr class="even">
<td>col_sum</td>
<td>1.35e7</td>
<td>1.34e7</td>
<td>1.49e7</td>
<td>1.49e7</td>
</tr>
<tr class="odd">
<td>col_sum_fast</td>
<td>8.25e6</td>
<td>8.35e6</td>
<td>8.37e6</td>
<td>8.35e6</td>
</tr>
</tbody>
</table>
<p>As we can se, the optimization flag doesn't have any real affect on the code, the compiler doesn't make the necessary changes to make col_sum faster, we have to do this ourselves. Since all the times are abaout the same we can conclude that the limiting factor is reading from memory.</p>
<p>The reason why the first implementation of col_sum is slower than row_sum is because it has bad locality. We have to load a different memory each time we iterate the loops. By instead allowing each element in the inner vector increment a new vector each loop we can achieve almost the same result as for the row_sum function.</p>
<h2 id="indirect-addressing">Indirect Addressing</h2>
<p>Below the output of the execution is found</p>
<pre><code>Time taken first version:               9355729 nanoseconds 
Time taken second version:              6195809 nanoseconds 
Time taken w/o indirect addressing:     4998114 nanoseconds </code></pre>
<p>As we excpect direct addressing is much faster than indirect addressing. This is partly because we have to look up one extra variable in order to access the variable for multiplication. But the main reason is because in order to access the two variables we have to load cache into the cpu, since the two are not in the same register.</p>
<p>The difference between the two slower methods are how we save the index in the vector p. The second version uses a very straight forward method where we don't have to load so much new information each loop since we can read in a block and then keep that block for multiple iterations, so the main time difference between the second and third version is accessing two variable rather than one. The First version on the other hand takes a lot longer since the indices in p are not loaded in a fast way, we have to reload cache much more often than in the other two, so a lot of time goes to loading cache.</p>
<h2 id="inlining">Inlining</h2>
<p>Below we see the output of the program:</p>
<table>
<thead>
<tr class="header">
<th>Type</th>
<th align="left">Time (s)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Function</td>
<td align="left">0.003683</td>
</tr>
<tr class="even">
<td>Inline</td>
<td align="left">0.000095</td>
</tr>
</tbody>
</table>
<p>We note that the inlined version is much faster (~x35) than the function. The reason for this is that calling functions is time consuming in it self. In order to execute instruction for a called function we must:</p>
<ol style="list-style-type: decimal">
<li>Push arguments to the stack</li>
<li>Change instruction block</li>
<li>Return after the function is done.</li>
</ol>
<p>The above is not necessary if the code is inlined which is why the inlined code is much faster.</p>
<h2 id="lapack">LAPack</h2>
<p>In the image below the different Cholesky implementations are shown.</p>
<p><img src="material/time_plot.png" width="500"></p>
<p>From the picture above we see that both the GSL and PLASMA implementations are faster than our naive implementation. Whether it is the GSL or PLASMA-implementation that is the fastest is dependant upon the system it is installed on. This is because PLASMA is dependant on the BLAS library which can be compiled specifically for the system or a standard variant which may be very slow. Although PLASMA is still a much better implementation than our own since it can utilize more cores. In the picture above the program was run on ozzy and as we can see the PLASMA implementation falls short of GSL. This is probably because the standard BLAS library is not very optimized for ozzy. When run on my personal computer, PLASMA outshines both GSL and the naive implementation.</p>
<h2 id="profiling">Profiling</h2>
<p>From the output of the call graph in gprof we can read the following:</p>
<table>
<thead>
<tr class="header">
<th>index</th>
<th>% time</th>
<th>self</th>
<th>children</th>
<th>called</th>
<th align="left">name</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td></td>
<td>0.01</td>
<td>0.36</td>
<td>1/1</td>
<td align="left">main [2]</td>
</tr>
<tr class="even">
<td>[1]</td>
<td>100.0</td>
<td>0.01</td>
<td>0.36</td>
<td>1</td>
<td align="left">profile_implementation [1]</td>
</tr>
<tr class="odd">
<td></td>
<td></td>
<td>0.36</td>
<td>0.00</td>
<td>499500/499500</td>
<td align="left">dot [3]</td>
</tr>
</tbody>
</table>
<p>displayed as a graph below.</p>
<div class="figure">
<img src="material/call_graph.png" title="Call graph" />

</div>
<p>The most time consuming function is the dot-function in the implementation as this equals 36/37 of the total run-time. So the for loop itself that calls on the dot-function in profile_implementation has a very little effect on the total execution time.</p>
<p>By using gcov we identify the most called lines to be:</p>
<pre><code>   499500:   18:double dot(double * x, double * y, size_t jx) {
   499500:   19:    double sum = 0;
166666500:   21:    for (ix = 0; ix &lt; jx; ++ix)
166167000:   22:        sum += x[ix] * y[ix];
   499500:   23:    return sum;
        -:   24:}
     1001:   41:    for (jx = 0; jx &lt; n; ++jx) {
     1000:   42:        double row_sum = 0;
   500500:   43:        for (ix = 0; ix &lt; jx; ++ix ) {
   499500:   44:            row_sum += A[jx][ix] * A[jx][ix];
        -:   45:        }
     1000:   46:        A[jx][jx] = sqrt(A[jx][jx] - row_sum);
        -:   47:
   500500:   48:        for (ix = jx+1; ix &lt; n; ++ix)  {
   499500:   49:            A[ix][jx] = ( A[ix][jx] - dot(A[ix], A[jx], jx) ) / A[jx][jx];
        -:   50:        }
        -:   51:    }</code></pre>
<p>where the line 21 and 22 is the by far most called lines. This results in that the limiting factor of the implementation is the add-multiply operation since it is called 300 times as often as any other line.</p>
<p>Perhaps you would suspect the line 46 to be the most timeconsuming as this calls the math-function sqrt. But as we see in the gcov inspection this only gets called 1000 times. In order for that line to be more time-consuming than 21-22, the sqrt-function would have to be about x100000 slower than the add-multiply operation. From our benchmark of the two function sin and exp we see that that isn't the case.</p>
